.Container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    
    
    padding: 20px;
    margin: 20px;
}

.Container{
width: 33%;
min-height: 90vh;
background-color: rgb(88, 82, 247);
}